<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Amir</title>
    <script src="~/Content/script/core/angular/angular.min.js"></script>
    <script src="~/Content/script/core/angular/angular-sanitize.min.js"></script>
    <script src="~/Content/script/core/angular/angular-resource.min.js"></script>
    <script src="~/Content/script/core/angular/angular-material.min.js"></script>
    <script src="~/Content/script/core/angular/angular-animate.min.js"></script>
    <script src="~/Content/script/core/angular/angular-aria.min.js"></script>
    <script src="~/Content/script/core/angular/angular-messages.min.js"></script>
    <script src="~/Content/script/core/angular/angular-block-ui.min.js"></script>
    <script src="~/Content/script/app/app.js"></script>

    <link href="~/Content/theme/css/angular-material.min.css" rel="stylesheet" />
    <link href="~/Content/theme/css/angular-material.min.css" rel="stylesheet" />
    <link href="~/Content/theme/css/angular-block-ui.css" rel="stylesheet" />
    <link href="~/Content/theme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body ng-app="myApp">
    <div>
        header
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
