md-input-container {
    margin: 18px 0 5px;
}
.md-button.md-raised:not([disabled]) {
    /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}
/*.fa .md-select-menu-container {
    direction: rtl;
}

.fa .md-select-value {
    direction: rtl;
}*/

 md-input-container:not([md-no-float]) .md-select-placeholder span:first-child {
    transform-origin: right top 0;
}
 md-input-container:not([md-no-float]) .md-select-placeholder span:first-child {
    transform-origin: right top 0;
}
/*.fa md-option {
    direction: rtl;
}

.fa md-input-container .md-char-counter, .fa md-input-container .md-input-message-animation {
    direction: rtl;
}

.fa md-input-container {
    direction: rtl;
}*/

.fa md-checkbox {
    margin-bottom: 10px;
}

.fa md-checkbox .md-container {
    left: auto;
    right: 0;
}

.fa md-checkbox .md-label {
    margin-left: 0;
    margin-right: 24px;
}

.fa md-checkbox .md-container {
    height: 16px;
    width: 16px;
}

.fa md-checkbox .md-icon {
    border-radius: 2px;
    border-style: solid;
    border-width: 0.18em;
    height: 16px;
    width: 16px;
}

.fa md-checkbox.md-checked .md-icon::after {
    height: 12.333px;
    left: 3.5px;
    top: -0.55px;
    width: 6.6px;
}

.fa md-checkbox .md-container .md-ripple-container {
    bottom: -10px;
    left: -10px;
    right: -10px;
    top: -10px;
}

.fa md-checkbox .md-container::after {
    bottom: -9px;
    left: -9px;
    right: -9px;
    top: -9px;
}

.fa md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
    color: rgba(42, 109, 220, 0.78);
}

.fa md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgba(42, 109, 220, 0.78);
}
.fa md-checkbox.md-default-theme.md-checked.md-focused .md-container::before,.fa md-checkbox.md-checked.md-focused .md-container::before {
    background-color:  rgba(42, 109, 220, 0.2);
}
.fa md-container {
    margin: 0 2px 0 8px;
}

.fa md-switch {
    margin: 0;
}

.fa md-switch .md-container {
    margin: 0 8px 0 10px;
}

.fa md-switch:last-of-type {
    margin-left: inherit;
    margin-right: 2px;
}

.fa md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    transform-origin: right top;
}

.fa md-input-container:not([md-no-float]) .md-select-placeholder span:first-child {
    transform-origin: right top;
}

.fa md-switch .md-thumb:before {
    background-color: transparent !important;
}

.fa md-tabs-canvas {
    direction: rtl;
}

.fa md-pagination-wrapper {
    left: auto;
    right: 0;
}

.fa .md-tab {
    float: right;
}

.fa md-tabs.md-dynamic-height md-tabs-content-wrapper {
    direction: rtl;
}

.fa md-tab-content.md-right:not(.md-active) {
    transform: translateX(-100%);
}

.fa md-tab-content.md-left:not(.md-active) {
    transform: translateX(100%);
}

.fa md-switch .md-thumb .md-ripple-container {
    left: -12px;
    top: -12px;
    right: -12px;
    bottom: -12px;
}
.fa md-radio-button .md-container {
    left: auto;
    right:0;
}
.fa md-radio-button .md-label {
    margin-left: 0;
    margin-right: 30px;
}

md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: rgb(127, 127, 127) !important;
}

md-dialog .md-actions, md-dialog md-dialog-actions {
    text-align: center;
    display: inline-block;
}

md-dialog .md-actions .md-button, md-dialog md-dialog-actions .md-button {
    margin: 8px 2px;
}
.md-button.md-icon-button.md-x-mini {
    height: 36px;
    min-width: 0;
    line-height: 24px;
    padding: 4px;
    width: 36px;
    border-radius: 50%;
}
.md-button.mini {
    min-height: unset;
    line-height: 27px;
    font-size: 12px;
    min-width: 72px;
    border-radius: 2px;
    padding-top: 2px;
}
.table th md-input-container {
    margin: 6px 0 -9px;
    position:relative;
}
.table th .md-select-value {
    border-bottom-color:transparent;
}
._Financial md-option, ._Orders md-option , ._Settings md-option{
    height: 32px;
    padding:0 8px;
}
md-select.no-margin{
    margin:0;
}
.md-select-menu-container{
    z-index:1000;   
}
.table.fa .md-select-value{
    color:#000;
}
md-option .md-text{
    width:100%;
}
md-tooltip.multiline .md-content {
    height: auto;
    line-height: 15px;
}
md-backdrop.md-select-backdrop {
    z-index: 999;
}